# jupyter checkpoints
.ipynb_checkpoints/*

# SW backup files
~$*

# EAGLE temporary files
*.*#*
*.swp
*.swo
*.scr

# Windows thumbnails, presumably...
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints

# R history
.Rhistory
